### Django ###
*.log
*.pot
*.pyc
migrations/
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
# Environments
.env
.venv
/backend/tasks/migrations
/backend/tasks/__pycache__
/backend/accounts/migrations
/backend/accounts/__pycache__
/backend/.env
/backend/core/__pycache__
/backend/db.sqlite3
/backend/venv/

/backend/abstracts/__pycache__
/backend/accounts/api/__pycache__
/backend/accounts/migrations/__pycache__